# Ignore macOS system files
.DS_Store

# Ignore Xcode-specific files
xcuserdata/
DerivedData/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Ignore Pods (if using CocoaPods)
Pods/
Podfile.lock

# Ignore build files
build/

